<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<style>
	#para{
	font-size:14px;
	}
	</style>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
			
	<div class="jumbotron">
	    <h2>Bibliography</h2>
			<p id="para">
			<br>
            Alexie, S., Baerwolf, R., Bressler, C., Estes, L., Eyre C., Morris, B., Rosenfelt, S., Skinner, D., Suhr, R. (Producers). Eyre C. (Director). (1998). Smoke Signals (Motion Picture). United State: Miramax Films
            <br><br>
            Angelou, M. (1990). I Shall Not Be Moved. New York, NY: Random House.
            <br><br>
            Cervantes, L.D., (1981). Emplumada. Pittsburgh, PA: University of Pittsburgh Press.
            <br><br>
            Cisneros, S. (1984). The House on Mango Street. New York, NY: Vintage Books.
            <br><br>
            David Henry Hwang(1988). M. Butterfly. New York, NY: Playright.
            <br><br>
            Turkle, S. (2016). Reclaiming Conversation: the Power of Talk in a Digital Age. University of Harvard: Penguin Books.
            <br><br>
            Turkle, S. (2012). Alone Together. University of Harvard: Penguin Books.
            <br><br>
            Wilson, A. (1990). The Piano Lesson. New York, NY: Penguin Group.
            
            </p>
	</div>
		

	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>