<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
	    <style>
	        h2{
	            text-align:center;
	        }
	    </style>
		<% include ../partials/header %>
	</header>

	<main>
			
			
				<div class="jumbotron">
					<h2>Conclusion</h2>
				
				</div>
					<p>This is the conclusion</p>
	
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>