<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
	    <style>
	        h2{
	            text-align:center;
	        }
	    </style>
		<% include ../partials/header %>
	</header>

	<main>
			
			
				<div class="jumbotron">
					<h2>Conclusion</h2>
				
				</div>
					<p>
					      In conclusion, there are several points we can learn from this literary analysis.
					      The main points we learned about are the power relations and the necessity for greater equity
					      and social justice. Ever since Europe colonized America, there has been racism and stereotypes ever since.
					      Today racism is at an all-time high and disrupting our quality of life.
					      In America all people should be treated equally and free. 
					      America is a very diverse country and people come from all over the world to live here.
					      Of course it will never be perfect but if we all work together and treat each other equally we would be an amazing country.
					      The literary works that I have written about describe injustices and a need for change in America.
					      Based on reading and watching several different pieces of literature, I can come to conclusion that these different races are going through a lot while living in America.
					      And now times are changing and technology is becoming smart every day. A huge factor in our communication is relying on Computers, Phones and Social Media.
					      Social Media affects the quality of life in America today and the fact that anyone can hide behind a computer allows anyone to say anything they want. 
					      In my opinion laws need to be set for the cyber world as it continues to get stronger.
					      There is propaganda, racism, sexism and several other issues online and no one can keep track of all of it,
					      or in another case - take unwanted posts down.
					      Today, our own president has spoiled social media and posts disturbing, hateful things online.
					      Sometimes I can't believe what is going on, but then again, anyone has their own opinion. 
					      Thanks for reading my website and I hope to not offend anyone as this is for academic purposes only.
					      <br>~Ryan
					</p>
	
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>