<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<style>
p,h1,h3 {
    font-family: "Times New Roman", Times, serif;
   
}
h1{
	 text-align:center;
}
#imageTech{
	display: block;
    margin: 0 auto;
    width:100%;
    height:100%;
    border:.5em solid grey;
}
p{
	font-size:1em;
}
#hcom{
	font-size:40px;
}
</style>
<body class="container">
<div class="jumbotron"><h2 id="hcom">American Ethnic Literature and Culture</h2>
</div>
<img src="/images/abstract.png" class="w3-round w3-image w3-opacity-min" id="imageTech"><br>
	<header>
		<% include ../partials/header %>
	</header>

	<main>
			<p>Greetings,<br>
			<br>I solely created this website for a project in Human Communications (335) American Ethnic Literature and Culture.
		This website will go over several topics on which I have analyzed, that include; culture, gender, race and ethnicity, class, age, identity, stereotypes, civil rights and injustice in America. These topics are based off of movies, books, plays, poetry, and technology which are located in the "topics" tab of the navigation bar.
			The page must address issues related to power relations and the necessity for greater equity and social justice.
			During this project I will also examine several course assignments we have gone over and do my best to relate them to these topics.
			
			<!--Modern literature and technology-->
			<br>
			<br>These topics are very controversial and I sincerely appologize if I criticize, slander, or discriminate any culture, race, or ethnic group.
			<br>I would hope that no one would be offended because this site is purely academic.
			<br>Please refer to the works that I examined, which are referenced in the <a href="/bibliography">bibliography</a> section of this page.
			<br>
			<br>Sincerely,<br>
			
			Ryan Le Bon
		</p>
		
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>