<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<style>
	    p{
	        font-size:14px;
	    }

	     #sAlexie{
	    	height:14em;
	    	width:15em;
	    	margin:0 auto;
	    	display:block;
	    	text-align:center;
	    	border:2px solid grey;
	    }
	    #aWilson{
	    	height:15em;
	    	width:20em;
	    	margin:0 auto;
	    	display:block;
	    	text-align:center;
	    	border:2px solid grey;
	    }
	    #sCisneros{
	    	height:20em;
	    	width:14em;
	    	margin:0 auto;
	    	display:block;
	    	text-align:center;
	    	border:2px solid grey;	
	    }
	   
	 .col-sm-4,.well{
	 	background-color:white;
	 }
	</style>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-8">
			
				<div class="jumbotron">
					<h2>Culture, Stereotypes, and Identities found in:<br><center>Movies & Books</center></h2>
				</div>
					<p>To what extent is our identity influenced by our family and community? How do stereotypes and prejudice affect who we think we are? How can stereotypes affect our sense of pride, security, and independence?</p>
					
					<p>The literary works include movies and books created by professionals in the field of literature. These writers talk about culture, stereotypes and peoples identities. The movies and books I address include,  "The Piano Lesson" by August Wilson, "Smoke Signals" by Sherman Alexie", "The House on Mango Street" by Sandra Cisernos and "M. Butterfly" by David Henry Hwang.
					Several Minority groups have had an extremely hard time in America and racial discrimination continues on today. I would like to address these issues in a moderate way, and again I wish to not offend anyone as this is purely academic.
		
					</p>
					
					<br>
					
					<h3>Smoke Signals</h3>
					<p>
					<br>The movie "Smoke Signals gives us a forecast into the modern day Native American world.
					It is a fast paced emotional and hysterical film, which was very enjoyable to watch. 
					Written by a Native American, Sherman Alexie, the cast follows and is entirely Native American as well.
					In the movie, "Smoke Signals" there were several typical stereotypes of Native Americans.
					<br><br>Here are a list of some of the stereotypes portrayed in the movie:
					<ul>
						<li>The stereotype that they live in teepees</li>
						<li>That they are addicted to alcohol and drugs.</li>
						<li>Spiritually connected to nature and intuitively know their culture and history</li>
						<li>Get assistance through casinos</li>
						<li>Live on reservations</li>
						<li>Lack an education</li>
					</ul>
					</p>
					<p>
						If the film does not specifically show individuals drunk, there are many references emphasizing it. Not only does the film support these stereotypes, but it seems to easily make fun of the Native American culture. For instance, during the scene when Victor and Thomas were on the bus to Arizona, Victor tells Thomas to stop acting like he is some type of “medicine man” and begins teaching him how to be “a true Indian.” Victor says to be “Indian” you have to have a certain facial expression: “like you are warriors or just came from a buffalo hunt.” The idea of storytelling or oral traditions is also an important factor in the movie.
						<br>The audience continually hears Thomas telling stories. It is not necessarily the story telling that is found funny, it is the way Thomas tells the stories; he acts like he is some kind of wise, astute man (as said before, like a medicine man). Overall, the movie seems to support many stereotypes of present day Native Americans.
					<img src="https://img.apmcdn.org/4e6ff8a98e638f86c07ec4368fdb5446208988ec/uncropped/bfacdc-20091019-shermanalexie.jpg" id="sAlexie">
					<center>(Sherman Alexie)</center>
					</p>
					
					
					<h3>The Piano Lesson</h3>
					<p>Produced by August Wilson, an American Playright.</p>
					<p>The Piano Lesson was a great lesson about African American culture. It is also a movie about self identities and how people portray themselves.
					The piano in the play represented the family’s history. The family’s history was carved into the piano and their great grandmother and grandfather were traded for it. Their father even died while he was trying to retrieve the piano from the old slaveowner Sutter’s house. The piano also symbolizes slavery as well, and allows the family to grow stronger based on what happened in their past. The piano lesson had a hidden message that consists of the importance beyond material concerns, rather than a historical legacy. 
					The Piano Lesson conveys a message of learning as well and figuring out your true self. August Wilson says “that everyone has his or her own song. We must discover our songs.” This implies that everyone has their own unique ability, and that we must discover what makes us the most passionate in this life based on our own ability. Everyone has their own song they like as well and if you play the piano maybe you will come up with your own tune that you and other people will enjoy. 
					</p>
					<img src="https://www.obamaeagle.org/wp-content/uploads/2015/05/August_Wilson.jpg" id="aWilson">	
					<center>(August Wilson)</center>
			
					<h3>The House on Mango Street</h3>
					<p>In the “House on Mango Street” written by Sandra Cisneros, I enjoyed several chapters of the book. The three chapters I liked the most were “My Name”, “Laughter” and “Those Who Don't". The main themes throughout this book portray culture, identity and stereotypes. Throughout the book Esperanza is constantly on the search for self identity. She is forced to move into a crowded Latino neighborhood in Chicago. There is racial segregation in this area and she starts discovering her true self. In the chapter “My Name” she talks about how she wants a different name and why it means so much to her. Later on in the book she hits puberty and both her grandfather and aunt pass away. This shows that she is maturing and how it affects her emotions as a maturing women. She learns about the true meaning of her life and sees how beautiful the world really is. These are exact examples of how she is trying to figure out her identity.</p>
					<img src="https://hispanicreader.files.wordpress.com/2011/12/scisneros.jpg" id="sCisneros">
					<center>(Sandra Cisernos)</center>
				
			</div>
	
			<div class="col-sm-4">
				<div class="well">
					<h3>Smoke Signals</h3>
					<img src="http://ecx.images-amazon.com/images/I/51qwoAMj2mL._AA160_.jpg">
					<h3>The Piano Lesson</h3>
					<img src="http://ecx.images-amazon.com/images/I/51Z2K3BHDWL._AA160_.jpg">
					<h3>The House on Mango Street</h3>
					<img src="http://ecx.images-amazon.com/images/I/51KEr5saI2L._AA160_.jpg">
				
				</div>

			</div>
		
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>