<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<style>
	    p{
	        font-size:14px;
	    }

	     #sAlexie{
	    	height:14em;
	    	width:15em;
	    	margin:0 auto;
	    	display:block;
	    	text-align:center;
	    	border:2px solid grey;
	    }
	    #aWilson{
	    	height:15em;
	    	width:20em;
	    	margin:0 auto;
	    	display:block;
	    	text-align:center;
	    	border:2px solid grey;
	    }
	    #sCisneros{
	    	height:20em;
	    	width:14em;
	    	margin:0 auto;
	    	display:block;
	    	text-align:center;
	    	border:2px solid grey;	
	    }
	   
	 .col-sm-4,.well{
	 	background-color:white;
	 }
	</style>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-8">
			
				<div class="jumbotron">
					<h2>Culture, Stereotypes, and Identities<br> found in:<br><center>Movies & Books</center></h2>
				</div>
					<p>The literary works include movies and books created by professionals in the field of literature. These writers talk about culture, stereotypes and peoples identities. The movies and books I address include,  <i>The Piano Lesson</i> by August Wilson, <i>Smoke Signals</i> by Sherman Alexie, and  <i>The House on Mango Street</i> by Sandra Cisernos.
					Several Minority groups have had an extremely hard time in America and racial discrimination continues on today. I would like to address these issues in a moderate way, and again I wish to not offend anyone as this website is purely academic.
		
					</p>
					
					<br>
					
					<h3>Smoke Signals</h3>
						<p>Produced by Sherman Alexie, an American Playright.</p>
					<p>How do stereotypes affect who we think we are?<br>
					<br>The movie <i>Smoke Signals</i> gives us a forecast into the modern day Native American world.
					It is a fast paced emotional and hysterical film, which was very enjoyable to watch. 
					Written by a Native American, Sherman Alexie, the cast follows and is entirely Native American as well.
					In the movie, <i>Smoke Signals</i> there were several typical stereotypes of Native Americans.
					<br><br>Here are a list of some of the stereotypes portrayed in the movie:
					<ul>
						<li>Are supposed to look a certain way.</li>
						<li>Spiritually connected to nature and intuitively know their culture and history.</li>
						<li>Get assistance through casinos.</li>
						<li>Live on reservations.</li>
						<li>Lack an education.</li>
						<li>The stereotype that they live in teepees.</li>
						<li>That they are addicted to alcohol and drugs.</li>
					</ul>
					</p>
					<p>
					
						If the film does not specifically show individuals drunk, there are many references emphasizing it.
						Like the scene where his father burns down his own house because he is drunk and has fireworks.
						Not only does the film support these stereotypes, but it seems to easily make fun of the Native American culture.
						The stereotypes affected Victor in <i>Smoke Signals</i>by making him think that he should look a certain way.
						For instance, during the scene when Victor and Thomas were on the bus to Arizona, 
						Victor tells Thomas to stop acting like he is some type of “medicine man” and begins teaching him how to be “a true Indian.”
						Victor says to be “Indian” you have to have a certain facial expression and look a certain way: 
						“like you are warriors or just came from a buffalo hunt.”
						The idea of storytelling or oral traditions is also an important factor in the movie.
						The audience continually hears Thomas telling stories. It is not necessarily the story telling that is found funny, it is the way Thomas tells the stories; he acts like he is some kind of wise, astute man (as said before, like a medicine man). 
						There is another scene where they are told to go to the back of the bus because a man took their seat,
						feeling goofy, they sing about John Wayne having no teeth.
						I think this is funny because John Wayne has said some racist things in the past and 
						to get back at him they just made fun of his teeth with a song.
					<br>Overall, the movie seems to support many stereotypes of present day Native Americans.
					<br><img src="https://img.apmcdn.org/4e6ff8a98e638f86c07ec4368fdb5446208988ec/uncropped/bfacdc-20091019-shermanalexie.jpg" id="sAlexie">
					<center>(Sherman Alexie)</center><br>
					<center><iframe width="560" height="315" src="https://www.youtube.com/embed/xPnV2392Tck" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>
					</p>
					
					
					<h3>The Piano Lesson</h3>
					<p>Produced by August Wilson, an American Playright.</p>
					
					<p>To what extent is our identity influenced by our family and community?<br> 
					<br>The Piano Lesson was a great lesson about African American culture.
					It is also a movie about self identities and how people portrayed themselves back in the day.
					Boy Willie wants to sell the piano to buy a plot of land, but Berniece will not part with piano because it holds a lot of their family history.
					The piano in the play represented the family’s history. 
					The family’s history was carved into the piano and their great grandmother 
					and grandfather were traded for it during Slavery. 
					Their father even died while he was trying to retrieve the piano from the old slaveowner Sutter’s house.
					Later on in the story Boy Willie tries to take the piano and it summons Sutter's ghost, to stop the ghost Berniece 
					had to play the piano and once she did it got rid of the ghost.
					I think that Boy Willie should have sold the piano because it was haunted and he could definently use that plot of land for his family.
					
					Berniece's identity was influenced by her family and community just by having the piano. The piano had so much history to it she thought she might as well keep it.
					The piano symbolizes slavery as well, and allows the family to grow stronger based on what had happened in their past. 
					The Piano Lesson had a hidden message that consists of the importance beyond material concerns, rather than a historical legacy. 
					The Piano Lesson conveys a message of learning as well and figuring out your true self. August Wilson says “that everyone has his or her own song.
					We must discover our songs.” This implies that everyone has their own unique ability, 
					and that we must discover what makes us the most passionate in this life based on our own ability.
					
					</p>
					<img src="https://www.obamaeagle.org/wp-content/uploads/2015/05/August_Wilson.jpg" id="aWilson">	
					<center>(August Wilson)</center>
			
					<h3>The House on Mango Street</h3>
				<p>	How can stereotypes affect our sense of pride, security, and independence?
					In the “House on Mango Street” written by Sandra Cisneros, I enjoyed several chapters of the book. The three chapters I liked the most were “My Name”, “Laughter” and “Those Who Don't". The main themes throughout this book portray culture, identity and stereotypes. Throughout the book Esperanza is constantly on the search for self identity. She is forced to move into a crowded Latino neighborhood in Chicago. There is racial segregation in this area and she starts discovering her true self. In the chapter “My Name” she talks about how she wants a different name and why it means so much to her. Later on in the book she hits puberty and both her grandfather and aunt pass away. This shows that she is maturing and how it affects her emotions as a maturing women. She learns about the true meaning of her life and sees how beautiful the world really is. These are exact examples of how she is trying to figure out her identity.</p>
					<img src="https://hispanicreader.files.wordpress.com/2011/12/scisneros.jpg" id="sCisneros">
					<center>(Sandra Cisernos)</center>
				
			</div>
	
			<div class="col-sm-4">
				<div class="well">
					<h3>Smoke Signals</h3>
					<img src="http://ecx.images-amazon.com/images/I/51qwoAMj2mL._AA160_.jpg">
					<h3>The Piano Lesson</h3>
					<img src="http://ecx.images-amazon.com/images/I/51Z2K3BHDWL._AA160_.jpg">
					<h3>The House on Mango Street</h3>
					<img src="http://ecx.images-amazon.com/images/I/51KEr5saI2L._AA160_.jpg">
				
				</div>

			</div>
		
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>