<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<style>
		   p{
	        font-size:14px;
	    }
	    #mAngelou{
	    	height:8em;
	    	margin:0 auto;
	    	display:block;
	    	text-align:center;
	    	border:2px solid grey;
	    }
	    #lCervantes{
	    	height:14em;
	    	width:10em;
	    	margin:0 auto;
	    	display:block;
	    	text-align:center;
	    	border:2px solid grey;	
	    }
	     #dHwang{
	    	height:15;
	    	width:20em;
	    	margin:0 auto;
	    	display:block;
	    	text-align:center;
	    	border:2px solid grey;	
	    }
	</style>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-8">
			
				<div class="jumbotron">
					<h2>Gender, Race and Civil Rights <br> found in:<br><center>Poetry & Plays</center></h2>
				
					
				</div>
					<h3>I Shall Not Be Moved</h3>
					<p>Poetry is an art and extremely powerful. An author can express a great amount of wisdom, knowledge, or feelings in a single poem.
					In the book "I Shall Not Be Moved", Maya Angelou expresses her feelings about situations she was put through in life. Maya Angelou was a poet, a memorist and a civil rights activist. 
					Angelou talks about many controversial topics in her poems such as <i>"The Black Family Pledge"</i>, <i></i>"I know why the caged bird sings", and "Equality". In these poems and throughout her life Angelou protected minorities, women, the young, and the ignored.
					Whether talking about the scourge of discrimination or the evil of sexism, she has much to teach this generation and generations unborn about what it means to be a unique person, and the power of being genuine.
					Although she has passed away, her stories and poems will continue to address students of all ages, and inspire the end of racial discrimination for generations to come.
					<br><br>
					<img src="http://alarishealth.com/wp-content/uploads/2017/03/Celebrate-Maya-Angelou.jpg" id="mAngelou">
					<center>(Maya Angelou)</center>
					<br>
				<center>	<i id="qoute">	"I've learned that people will forget what you said,<br> people will forget what you did,<br> but people will never forget how you made them feel."</i><br> -Maya Angelou</center>
					</p>
					
					
					<h3>Empulada</h3>
					<p>Lorna Dee Cervantes portrays her struggle in one of the poems with an excessively long title called “POEM FOR THE YOUNG WHITE MAN WHO ASKED ME HOW I, AN INTELLIGENT, WELLREAD PERSON COULD BELIEVE IN THE WAR BETWEEN RACES”. She portrays her struggle because there is a lot of racism in the world. She writes about the struggles she goes through in everyday life and how her own culture is disrespected by white America. Lorna was born in San Francisco in 1954 and I believe there was a lot of racism against her culture when she was growing up. There is still racism going on in America and the current president now is a threat to our society because we live in such a diverse community. America is supposed to be the land of the free but now we are headed in the wrong direction. We are supposed to be a loving and thriving country and now we are building a wall to keep the people that helped this country grow, isn’t it ironic? The war between the races needs to end and we should all be treated equally. I am half Chilean as well and have dealt with racism growing up.</p>
					<br>
					<img src="https://artepublicopress.com/wp-content/uploads/2014/01/Cervantes-Lorna-Dee-195x300.jpg" id="lCervantes">
					<center>(Lorna Cervantes)</center><br>
					<center><i id="qoute">I loved you with the scientific excuse of the lonely.”</i><br> -Lorna Dee Cervantes, Emplumada</center>
					<br><br>
					
						
					<h3>M. Butterfly</h3>
					<p>In the true story, Madame Butterfly. The protagonist of the film, Rene Gallimard is mentally blind because he has been stuck in his fantasy of the play. He has been going to this play so much and begins to fall in love with the Chinese opera star Song Liling. Rene sees Song as the perfect women and starts interacting with her. They fall in love and Rene becomes mentally blind because he is so in love with her. Rene doesn’t understand that Song is a man during the whole story. This is wild because Song would have to be on point all the time, in the movie Songs voice does not sound feminine and would immediately throw me off.</p>
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/David_Henry_Hwang_photo_by_Lia_Chang2013.jpg/220px-David_Henry_Hwang_photo_by_Lia_Chang2013.jpg" id="dHwang">
					<center>(David Henry Hwang)</center><br>
			</div>
			<div class="col-sm-4">
				
				<div class="well">
					<h3>I Shall Not Be Moved</h3>
					<img src="http://ecx.images-amazon.com/images/I/51MVSTxCVeL._AA160_.jpg">
					<h3>Empulada</h3>
					<img src="http://ecx.images-amazon.com/images/I/41VDXRGQE2L._AA160_.jpg">
					<h3>M. Butterfly</h3>
					<img src="http://ecx.images-amazon.com/images/I/21Mtt-ZZ2sL._AA160_.jpg">
				</div>

			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>