<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>
<style>
	#AT{
		width:10em;
		height:12emm;
	}
	h3{
		font-size: 1.5em;
	}
</style>
	<main>
		<div class="row">
			<div class="col-sm-8">
			
				<div class="jumbotron">
					<h2>Culture, Identity and Communication<br> found in:<br><center>Technology</center></h2>
				
				</div>
				<h3>Alone Together & Reclaiming Conversation</h3>
				<p>
				As we expect more from technology, do we expect less from each other?<br><br>
				Sherry Turkle studies how our devices and online personas are redefining human connection and communication. She is a cultural analyst that graduated from Harvard University. I think the technology references she uses are excellent in this new digital age. Sherry asks us to think deeply about the new kinds of connections that we want to have.<br><br>
				Turkle, explained that “A 16-year-old boy claimed to go to texting for everything he does.” The 16-year-old boy told her “Someday, but certainly not now, I would like to learn how to have an actual conversation with someone.” She also talks about what is wrong with having a conversation and that it takes time and you cant control what you’re going to say.<br><br> This new digital age is changing the way we interact with each other dramatically. Our culture is changing extremely fast as well as technology. Our own identities are changing in ways that we expect more from technology and less from each other. We are designing technologies like robots that give us the illusion of companionship without the demands for friendship. Being alone feels like a problem that needs to be solved, we are solving this by being more connected on social media.  Sherry talks about the Goldilocks effect which promotes hiding from each other because of social media. She states that social media makes people less social and changes the way we have interpersonal reactions with each other. The more connection we have on social media, the more isolated we are as human beings. I think the question asked above is a very good reference, we expect more from technology than we do from each other. This is a scary concept and I believe that one-day life will be very different because of technology.
				Our culture is changing faster and faster and one day our society will be very different.<br><br>
				I recommend you to take a look at this TED talk by Sherry Turkle.

				</p>
				<div style="max-width:450px"><div style="margin:0 auto;text-align:center;display:block;position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/sherry_turkle_alone_together" width="854" height="480" style="position:absolute;left:0;top:0;width:80%;height:80%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>
				
				
			</div>
			<div class="col-sm-4">
				
				<div class="well">
					<h3>Alone Together</h3>
					<img id="AT" src="https://images-na.ssl-images-amazon.com/images/I/51AU-uKwIrL._SX331_BO1,204,203,200_.jpg">
					<h3>Reclaiming Conversation</h3>
					<img id="AT" src="https://images-na.ssl-images-amazon.com/images/I/41Jbja6BSqL._SX324_BO1,204,203,200_.jpg">
					</div>
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>