<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>
<style>
	#AT{
		width:10em;
		height:12emm;
	}
	h3{
		font-size: 1.5em;
	}
</style>
	<main>
		<div class="row">
			<div class="col-sm-8">
			
				<div class="jumbotron">
					<h2>Culture, Age, and Identities<br> found in:<br><center>Technology</center></h2>
					examines gender, race and ethnicity, class, age, (or other social categories of identity) across texts and from at least three literary and cultural traditions, including non-Euro-centric traditions. It must address issues related to power relations and the necessity for greater equity and social justice. 
				</div>
				
				<div style="max-width:450px"><div style="margin:0 auto;text-align:center;display:block;position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/sherry_turkle_alone_together" width="854" height="480" style="position:absolute;left:0;top:0;width:80%;height:80%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>
				
			</div>
			<div class="col-sm-4">
				
				<div class="well">
					<h3>Alone Together</h3>
					<img id="AT" src="https://images-na.ssl-images-amazon.com/images/I/51AU-uKwIrL._SX331_BO1,204,203,200_.jpg">
					<h3>Reclaiming Conversation</h3>
					<img id="AT" src="https://images-na.ssl-images-amazon.com/images/I/41Jbja6BSqL._SX324_BO1,204,203,200_.jpg">
					</div>
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>